<a href="https://colab.research.google.com/github/wiiiiish/2022-machine_learning/blob/main/%08%ED%95%9C%EB%8B%AC%EC%B9%98_%EB%8D%B0%EC%9D%B4%ED%84%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!ls

drive  sample_data

In [2]:
%cd drive/MyDrive/Colab\ Notebooks/2022-04-27\ 데이터/2022-05-13\ 모델\ 생성\ 작업

/content/drive/MyDrive/Colab Notebooks/2022-04-27 데이터/2022-05-13 모델 생성 작업

In [3]:
import pandas as pd
import numpy as np
from keras.models import load_model

In [4]:
model_rnn = load_model('./rnn_model_v2.h5')

In [16]:
weather = pd.read_csv('./data/s_data_220503.csv', encoding='utf-8')
weather

,date_time,temperature,precipitation,wind_speed,humidity,radiation,total_cloudiness,visibility,ground_temp
0,05-01 00:00:00,19.471425,0.000000,1.283509,99.085068,0.0,-0.571956,2000.060648,20.859082
1,05-01 00:00:10,19.515992,0.000000,1.288677,98.906960,0.0,3.277923,2000.042480,20.930770
2,05-01 00:00:20,19.456078,0.000000,1.053963,98.952560,0.0,0.779748,2000.018245,20.992075
3,05-01 00:00:30,19.369269,0.000000,1.215434,98.990665,0.0,0.660592,1999.990462,20.983526
4,05-01 00:00:40,19.518434,0.000000,1.225970,99.000163,0.0,4.247148,2000.043941,20.894728
...,...,...,...,...,...,...,...,...,...
527035,06-30 23:59:10,25.494836,0.237966,0.546747,90.711643,0.0,9.445173,0.000000,27.381028
527036,06-30 23:59:20,25.428284,0.278660,0.675943,90.426103,0.0,9.788200,0.000000,27.304989
527037,06-30 23:59:30,25.400970,0.161461,0.643305,90.306220,0.0,8.804747,0.000000,27.346739
527038,06-30 23:59:40,25.503257,0.083391,0.789334,90.616037,0.0,9.496567,0.000000,27.327265
527039,06-30 23:59:50,25.483887,0.103071,0.360427,90.700424,0.0,10.066069,0.000000,27.363351

In [25]:
real_weather = weather.loc[164520:526679, 'date_time':]
real_weather

,date_time,temperature,precipitation,wind_speed,humidity,radiation,total_cloudiness,visibility,ground_temp
164520,05-20 01:00:00,27.286895,0.000000,1.078636,93.640483,0.0,9.043145,1999.909332,25.667005
164521,05-20 01:00:10,27.477963,0.000000,0.998416,91.740060,0.0,8.262582,1999.911075,25.574083
164522,05-20 01:00:20,27.414664,0.000000,1.068533,90.951520,0.0,8.501225,2000.045671,25.681101
164523,05-20 01:00:30,27.459517,0.000000,1.051782,93.622722,0.0,8.221734,1999.962981,25.513419
164524,05-20 01:00:40,27.422684,0.000000,1.015932,93.368005,0.0,8.330862,1999.981607,25.594387
...,...,...,...,...,...,...,...,...,...
526675,06-30 22:59:10,25.708779,0.124920,0.728294,90.505546,0.0,10.083707,0.000000,27.645931
526676,06-30 22:59:20,25.592565,0.322114,0.732048,90.411177,0.0,10.039149,0.000000,27.704748
526677,06-30 22:59:30,25.729553,0.246911,0.712671,91.106779,0.0,10.059648,0.000000,27.716549
526678,06-30 22:59:40,25.586255,0.124096,0.743412,90.973354,0.0,10.097150,0.000000,27.384374
526679,06-30 22:59:50,25.754858,0.103967,0.719297,90.698558,0.0,10.081507,0.000000,27.661812

In [26]:
real_weather.to_csv('./data/real_weather_0520.csv')

In [27]:
real_weather = pd.read_csv('./data/real_weather_0520.csv', encoding='utf-8')
real_weather = real_weather.drop(real_weather.columns[0], axis=1)
real_weather

,date_time,temperature,precipitation,wind_speed,humidity,radiation,total_cloudiness,visibility,ground_temp
0,05-20 01:00:00,27.286895,0.000000,1.078636,93.640483,0.0,9.043145,1999.909332,25.667005
1,05-20 01:00:10,27.477963,0.000000,0.998416,91.740060,0.0,8.262582,1999.911075,25.574083
2,05-20 01:00:20,27.414664,0.000000,1.068533,90.951520,0.0,8.501225,2000.045671,25.681101
3,05-20 01:00:30,27.459517,0.000000,1.051782,93.622722,0.0,8.221734,1999.962981,25.513419
4,05-20 01:00:40,27.422684,0.000000,1.015932,93.368005,0.0,8.330862,1999.981607,25.594387
...,...,...,...,...,...,...,...,...,...
362155,06-30 22:59:10,25.708779,0.124920,0.728294,90.505546,0.0,10.083707,0.000000,27.645931
362156,06-30 22:59:20,25.592565,0.322114,0.732048,90.411177,0.0,10.039149,0.000000,27.704748
362157,06-30 22:59:30,25.729553,0.246911,0.712671,91.106779,0.0,10.059648,0.000000,27.716549
362158,06-30 22:59:40,25.586255,0.124096,0.743412,90.973354,0.0,10.097150,0.000000,27.384374
362159,06-30 22:59:50,25.754858,0.103967,0.719297,90.698558,0.0,10.081507,0.000000,27.661812

In [21]:
aod = pd.read_csv('./data/aod_data.csv', encoding='utf-8')
aod

                  date_time  aod
0       2020-05-18 00:00:00  0.0
1       2020-05-18 00:00:10  0.0
2       2020-05-18 00:00:20  0.0
3       2020-05-18 00:00:30  0.0
4       2020-05-18 00:00:40  0.0
...                     ...  ...
362875  2020-06-28 23:59:10  0.0
362876  2020-06-28 23:59:20  0.0
362877  2020-06-28 23:59:30  0.0
362878  2020-06-28 23:59:40  0.0
362879  2020-06-28 23:59:50  0.0

[362880 rows x 2 columns]

In [40]:
# 5월20일 02:00:00 ~ 6월30일 23:59:50 까지의 날씨 (한 시간 후의 날씨 데이터)
after_hour_weather = weather.loc[164880:,'date_time':'ground_temp']
after_hour_weather

,date_time,temperature,precipitation,wind_speed,humidity,radiation,total_cloudiness,visibility,ground_temp
164880,05-20 02:00:00,27.673865,0.000000,1.321487,89.478300,0.0,8.120930,1999.934257,25.562844
164881,05-20 02:00:10,27.779840,0.000000,1.889844,89.842490,0.0,8.365996,1999.933984,25.543899
164882,05-20 02:00:20,27.701081,0.000000,1.649544,88.122140,0.0,8.314756,1999.955209,25.530741
164883,05-20 02:00:30,27.796545,0.000000,1.305115,91.721814,0.0,8.343430,1999.987997,25.573049
164884,05-20 02:00:40,27.592711,0.000000,1.760130,92.071045,0.0,8.427260,1999.989503,25.573687
...,...,...,...,...,...,...,...,...,...
527035,06-30 23:59:10,25.494836,0.237966,0.546747,90.711643,0.0,9.445173,0.000000,27.381028
527036,06-30 23:59:20,25.428284,0.278660,0.675943,90.426103,0.0,9.788200,0.000000,27.304989
527037,06-30 23:59:30,25.400970,0.161461,0.643305,90.306220,0.0,8.804747,0.000000,27.346739
527038,06-30 23:59:40,25.503257,0.083391,0.789334,90.616037,0.0,9.496567,0.000000,27.327265
527039,06-30 23:59:50,25.483887,0.103071,0.360427,90.700424,0.0,10.066069,0.000000,27.363351

In [44]:
after_hour_weather.to_csv('./data/after_weather_0520.csv')

In [6]:
after_hour_weather = pd.read_csv('./data/after_weather_0520.csv', encoding='utf-8')
after_hour_weather = after_hour_weather.drop(after_hour_weather.columns[0], axis=1)
after_hour_weather

,date_time,temperature,precipitation,wind_speed,humidity,radiation,total_cloudiness,visibility,ground_temp
0,05-20 02:00:00,27.673865,0.000000,1.321487,89.478300,0.0,8.120930,1999.934257,25.562844
1,05-20 02:00:10,27.779840,0.000000,1.889844,89.842490,0.0,8.365996,1999.933984,25.543899
2,05-20 02:00:20,27.701081,0.000000,1.649544,88.122140,0.0,8.314756,1999.955209,25.530741
3,05-20 02:00:30,27.796545,0.000000,1.305115,91.721814,0.0,8.343430,1999.987997,25.573049
4,05-20 02:00:40,27.592711,0.000000,1.760130,92.071045,0.0,8.427260,1999.989503,25.573687
...,...,...,...,...,...,...,...,...,...
362155,06-30 23:59:10,25.494836,0.237966,0.546747,90.711643,0.0,9.445173,0.000000,27.381028
362156,06-30 23:59:20,25.428284,0.278660,0.675943,90.426103,0.0,9.788200,0.000000,27.304989
362157,06-30 23:59:30,25.400970,0.161461,0.643305,90.306220,0.0,8.804747,0.000000,27.346739
362158,06-30 23:59:40,25.503257,0.083391,0.789334,90.616037,0.0,9.496567,0.000000,27.327265
362159,06-30 23:59:50,25.483887,0.103071,0.360427,90.700424,0.0,10.066069,0.000000,27.363351

In [7]:
after_hour_weather.columns=['pred_time',	'temperature',	'precipitation',	'wind_speed',	'humidity',	'radiation',	'total_cloudiness',	'visibility',	'ground_temp']
after_hour_weather

,pred_time,temperature,precipitation,wind_speed,humidity,radiation,total_cloudiness,visibility,ground_temp
0,05-20 02:00:00,27.673865,0.000000,1.321487,89.478300,0.0,8.120930,1999.934257,25.562844
1,05-20 02:00:10,27.779840,0.000000,1.889844,89.842490,0.0,8.365996,1999.933984,25.543899
2,05-20 02:00:20,27.701081,0.000000,1.649544,88.122140,0.0,8.314756,1999.955209,25.530741
3,05-20 02:00:30,27.796545,0.000000,1.305115,91.721814,0.0,8.343430,1999.987997,25.573049
4,05-20 02:00:40,27.592711,0.000000,1.760130,92.071045,0.0,8.427260,1999.989503,25.573687
...,...,...,...,...,...,...,...,...,...
362155,06-30 23:59:10,25.494836,0.237966,0.546747,90.711643,0.0,9.445173,0.000000,27.381028
362156,06-30 23:59:20,25.428284,0.278660,0.675943,90.426103,0.0,9.788200,0.000000,27.304989
362157,06-30 23:59:30,25.400970,0.161461,0.643305,90.306220,0.0,8.804747,0.000000,27.346739
362158,06-30 23:59:40,25.503257,0.083391,0.789334,90.616037,0.0,9.496567,0.000000,27.327265
362159,06-30 23:59:50,25.483887,0.103071,0.360427,90.700424,0.0,10.066069,0.000000,27.363351

In [52]:
# 5월20일 01:00:00 ~ 6월30일 22:59:50 까지의 발전량 (현재 발전량)
now_aod = aod.loc[360:362519, 'aod']
now_aod = pd.DataFrame(now_aod)
now_aod

        aod
360     0.0
361     0.0
362     0.0
363     0.0
364     0.0
...     ...
362515  0.0
362516  0.0
362517  0.0
362518  0.0
362519  0.0

[362160 rows x 1 columns]

In [53]:
now_aod.to_csv('./data/now_aod_0520.csv')

In [22]:
now_aod = pd.read_csv('./data/now_aod_0520.csv', encoding='utf-8')
now_aod = now_aod.drop(now_aod.columns[0], axis=1)
now_aod

        aod
0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
...     ...
362155  0.0
362156  0.0
362157  0.0
362158  0.0
362159  0.0

[362160 rows x 1 columns]

In [9]:
now_aod.columns=['now_aod']
now_aod

        now_aod
0           0.0
1           0.0
2           0.0
3           0.0
4           0.0
...         ...
362155      0.0
362156      0.0
362157      0.0
362158      0.0
362159      0.0

[362160 rows x 1 columns]

In [43]:
# 5월20일 00:00:00 ~ 6월30일 21:59:50까지의 발전량 (한 시간 전의 발전량)
before_hour_aod = aod.loc[:362159, 'aod']
pd.DataFrame(before_hour_aod)

        aod
0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
...     ...
362155  0.0
362156  0.0
362157  0.0
362158  0.0
362159  0.0

[362160 rows x 1 columns]

In [55]:
before_hour_aod.to_csv('./data/before_aod_0520.csv')

In [10]:
before_hour_aod = pd.read_csv('./data/before_aod_0520.csv', encoding='utf-8')
before_hour_aod = before_hour_aod.drop(before_hour_aod.columns[0], axis=1)
before_hour_aod

        aod
0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
...     ...
362155  0.0
362156  0.0
362157  0.0
362158  0.0
362159  0.0

[362160 rows x 1 columns]

In [11]:
before_hour_aod.columns=['before_aod']
before_hour_aod

        before_aod
0              0.0
1              0.0
2              0.0
3              0.0
4              0.0
...            ...
362155         0.0
362156         0.0
362157         0.0
362158         0.0
362159         0.0

[362160 rows x 1 columns]

In [12]:
new_data = pd.concat([after_hour_weather, now_aod, before_hour_aod], axis=1)
new_data

,pred_time,temperature,precipitation,wind_speed,humidity,radiation,total_cloudiness,visibility,ground_temp,now_aod,before_aod
0,05-20 02:00:00,27.673865,0.000000,1.321487,89.478300,0.0,8.120930,1999.934257,25.562844,0.0,0.0
1,05-20 02:00:10,27.779840,0.000000,1.889844,89.842490,0.0,8.365996,1999.933984,25.543899,0.0,0.0
2,05-20 02:00:20,27.701081,0.000000,1.649544,88.122140,0.0,8.314756,1999.955209,25.530741,0.0,0.0
3,05-20 02:00:30,27.796545,0.000000,1.305115,91.721814,0.0,8.343430,1999.987997,25.573049,0.0,0.0
4,05-20 02:00:40,27.592711,0.000000,1.760130,92.071045,0.0,8.427260,1999.989503,25.573687,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
362155,06-30 23:59:10,25.494836,0.237966,0.546747,90.711643,0.0,9.445173,0.000000,27.381028,0.0,0.0
362156,06-30 23:59:20,25.428284,0.278660,0.675943,90.426103,0.0,9.788200,0.000000,27.304989,0.0,0.0
362157,06-30 23:59:30,25.400970,0.161461,0.643305,90.306220,0.0,8.804747,0.000000,27.346739,0.0,0.0
362158,06-30 23:59:40,25.503257,0.083391,0.789334,90.616037,0.0,9.496567,0.000000,27.327265,0.0,0.0
362159,06-30 23:59:50,25.483887,0.103071,0.360427,90.700424,0.0,10.066069,0.000000,27.363351,0.0,0.0

In [5]:
new_data.to_csv('./data/new_data_0520.csv')

NameError: ignored

In [6]:
new_data = pd.read_csv('./data/new_data_0520.csv', encoding='utf-8')
new_data = new_data.drop(new_data.columns[0], axis=1)

In [8]:
X = new_data.loc[:60000, 'temperature':]
X

,temperature,precipitation,wind_speed,humidity,radiation,total_cloudiness,visibility,ground_temp,now_aod,before_aod
0,27.673865,0.0,1.321487,89.478300,0.0,8.120930,1999.934257,25.562844,0.0,0.0
1,27.779840,0.0,1.889844,89.842490,0.0,8.365996,1999.933984,25.543899,0.0,0.0
2,27.701081,0.0,1.649544,88.122140,0.0,8.314756,1999.955209,25.530741,0.0,0.0
3,27.796545,0.0,1.305115,91.721814,0.0,8.343430,1999.987997,25.573049,0.0,0.0
4,27.592711,0.0,1.760130,92.071045,0.0,8.427260,1999.989503,25.573687,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
59996,22.740782,0.0,0.402389,99.060140,0.0,10.054860,1432.635233,23.136777,0.0,0.0
59997,22.822893,0.0,0.478991,98.999671,0.0,9.141686,1251.560233,23.305191,0.0,0.0
59998,22.863017,0.0,0.418063,98.946533,0.0,9.930052,1309.817165,23.364742,0.0,0.0
59999,22.696140,0.0,0.332562,99.046693,0.0,9.329287,1347.225127,23.105870,0.0,0.0
60000,22.712624,0.0,0.454907,98.978700,0.0,9.504597,1026.706938,23.179421,0.0,0.0

In [9]:
X = np.array(X)
X.shape

(60001, 10)

In [10]:
temp = []
for i in range(len(X)-360):
  for j in range(360):
    temp.append(X[i+j])
test_data = np.array(temp)
test_data.shape

(21470760, 10)

In [11]:
X_test = test_data.reshape(59641,360,10)
X_test.shape

(59641, 360, 10)

In [12]:
ans_0_60000 = model_rnn.predict(X_test)
ans_0_60000 = pd.DataFrame(ans_0_60000)
ans_0_60000

              0
0      0.211160
1      0.067590
2      0.076397
3      0.144935
4      0.084271
...         ...
59636 -0.055260
59637 -0.040891
59638 -0.030233
59639 -0.050081
59640 -0.026832

[59641 rows x 1 columns]

In [14]:
for i in range(len(ans_0_60000)):
  if ans_0_60000.iloc[i, 0] < 1:
    ans_0_60000.iloc[i,0] = 0
ans_0_60000

         0
0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
...    ...
59636  0.0
59637  0.0
59638  0.0
59639  0.0
59640  0.0

[59641 rows x 1 columns]

In [15]:
ans_0_60000.to_csv('./data/ans_0_60000.csv')

In [28]:
real_data = pd.concat([real_weather, now_aod], axis=1)
real_data

,date_time,temperature,precipitation,wind_speed,humidity,radiation,total_cloudiness,visibility,ground_temp,aod
0,05-20 01:00:00,27.286895,0.000000,1.078636,93.640483,0.0,9.043145,1999.909332,25.667005,0.0
1,05-20 01:00:10,27.477963,0.000000,0.998416,91.740060,0.0,8.262582,1999.911075,25.574083,0.0
2,05-20 01:00:20,27.414664,0.000000,1.068533,90.951520,0.0,8.501225,2000.045671,25.681101,0.0
3,05-20 01:00:30,27.459517,0.000000,1.051782,93.622722,0.0,8.221734,1999.962981,25.513419,0.0
4,05-20 01:00:40,27.422684,0.000000,1.015932,93.368005,0.0,8.330862,1999.981607,25.594387,0.0
...,...,...,...,...,...,...,...,...,...,...
362155,06-30 22:59:10,25.708779,0.124920,0.728294,90.505546,0.0,10.083707,0.000000,27.645931,0.0
362156,06-30 22:59:20,25.592565,0.322114,0.732048,90.411177,0.0,10.039149,0.000000,27.704748,0.0
362157,06-30 22:59:30,25.729553,0.246911,0.712671,91.106779,0.0,10.059648,0.000000,27.716549,0.0
362158,06-30 22:59:40,25.586255,0.124096,0.743412,90.973354,0.0,10.097150,0.000000,27.384374,0.0
362159,06-30 22:59:50,25.754858,0.103967,0.719297,90.698558,0.0,10.081507,0.000000,27.661812,0.0

In [31]:
real_data.to_csv('./data/real_data.csv')

In [32]:
X = new_data.loc[60001:120000, 'temperature':]
X

,temperature,precipitation,wind_speed,humidity,radiation,total_cloudiness,visibility,ground_temp,now_aod,before_aod
60001,22.825252,0.0,0.292967,98.907325,0.0,9.488095,1066.041519,23.101638,0.0,0.0
60002,22.685918,0.0,0.464925,98.910476,0.0,9.719552,1158.146233,23.202597,0.0,0.0
60003,22.626113,0.0,0.348574,98.940290,0.0,9.882358,1245.789197,23.242093,0.0,0.0
60004,22.701880,0.0,0.379780,99.083405,0.0,9.729084,1324.427302,23.204173,0.0,0.0
60005,22.628260,0.0,0.350032,98.900436,0.0,9.533139,1399.875984,23.252619,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
119996,27.074380,0.0,0.870226,97.239574,0.0,7.655770,0.000000,25.751877,0.0,0.0
119997,26.957990,0.0,0.900719,97.513128,0.0,5.409434,0.000000,25.610991,0.0,0.0
119998,27.098167,0.0,1.195462,97.231956,0.0,7.895532,0.000000,25.741437,0.0,0.0
119999,27.189244,0.0,1.253476,97.698628,0.0,3.297734,0.000000,25.739809,0.0,0.0
120000,27.167327,0.0,1.170184,98.055848,0.0,9.599439,0.000000,25.710093,0.0,0.0

In [33]:
X = np.array(X)
X.shape

(60000, 10)

In [34]:
temp = []
for i in range(len(X)-360):
  for j in range(360):
    temp.append(X[i+j])
test_data = np.array(temp)
test_data.shape

(21470400, 10)

In [36]:
X_test = test_data.reshape(59640,360,10)
X_test.shape

(59640, 360, 10)

In [37]:
ans_60001_120000 = model_rnn.predict(X_test)
ans_60001_120000 = pd.DataFrame(ans_60001_120000)
ans_60001_120000

               0
0      -0.070456
1      -0.092894
2      -0.066740
3      -0.069279
4      -0.078344
...          ...
59635 -71.983574
59636 -67.027542
59637 -63.098698
59638 -70.028023
59639 -55.542881

[59640 rows x 1 columns]

In [38]:
for i in range(len(ans_60001_120000)):
  if ans_60001_120000.iloc[i, 0] < 1:
    ans_60001_120000.iloc[i,0] = 0
ans_60001_120000

         0
0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
...    ...
59635  0.0
59636  0.0
59637  0.0
59638  0.0
59639  0.0

[59640 rows x 1 columns]

In [39]:
ans_60001_120000.to_csv('./data/ans_60001_120000.csv')

In [61]:
X = new_data.loc[300001:, 'temperature':]
X

,temperature,precipitation,wind_speed,humidity,radiation,total_cloudiness,visibility,ground_temp,now_aod,before_aod
300001,27.527152,0.000000,1.111869,72.737898,0.0,4.091326,0.0,31.899828,1.526944,39.969056
300002,27.530961,0.000000,1.403106,72.979046,0.0,5.745697,0.0,30.892705,1.520556,39.811444
300003,27.014649,0.000000,0.537440,73.974610,0.0,4.961915,0.0,31.745794,1.514167,39.653833
300004,27.130145,0.000000,1.241316,72.033073,0.0,4.384862,0.0,30.480083,1.507778,39.496222
300005,27.230179,0.000000,0.856657,72.595721,0.0,5.985832,0.0,33.032364,1.501389,39.338611
...,...,...,...,...,...,...,...,...,...,...
362155,25.494836,0.237966,0.546747,90.711643,0.0,9.445173,0.0,27.381028,0.000000,0.000000
362156,25.428284,0.278660,0.675943,90.426103,0.0,9.788200,0.0,27.304989,0.000000,0.000000
362157,25.400970,0.161461,0.643305,90.306220,0.0,8.804747,0.0,27.346739,0.000000,0.000000
362158,25.503257,0.083391,0.789334,90.616037,0.0,9.496567,0.0,27.327265,0.000000,0.000000
362159,25.483887,0.103071,0.360427,90.700424,0.0,10.066069,0.0,27.363351,0.000000,0.000000

In [62]:
X = np.array(X)
X.shape

(62159, 10)

In [63]:
temp = []
for i in range(len(X)-360):
  for j in range(360):
    temp.append(X[i+j])
test_data = np.array(temp)
test_data.shape

(22247640, 10)

In [64]:
X_test = test_data.reshape(61799,360,10)
X_test.shape

(61799, 360, 10)

In [65]:
ans_300001_ = model_rnn.predict(X_test)
ans_300001_ = pd.DataFrame(ans_300001_)
ans_300001_

               0
0     -72.100029
1     -69.103424
2     -58.104343
3     -69.480583
4     -85.619881
...          ...
61794 -43.186184
61795 -43.451725
61796 -44.144867
61797 -41.664635
61798 -45.074421

[61799 rows x 1 columns]

In [66]:
for i in range(len(ans_300001_)):
  if ans_300001_.iloc[i, 0] < 1:
    ans_300001_.iloc[i,0] = 0
ans_300001_

         0
0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
...    ...
61794  0.0
61795  0.0
61796  0.0
61797  0.0
61798  0.0

[61799 rows x 1 columns]

In [67]:
ans_300001_.to_csv('./data/ans_300001_.csv')