<a href="https://colab.research.google.com/github/wiiiiish/2022-machine_learning/blob/main/s_mysql_220503.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!ls

data		     s_prec.csv		  s_temperature.csv
s_data_220502.ipynb  s_pred_220503.ipynb  s_windspeed.csv

In [ ]:
%cd drive/MyDrive/Colab\ Notebooks/2022-04-27\ 데이터

/content/drive/MyDrive/Colab Notebooks/2022-04-27 데이터

In [ ]:
!sudo apt-get install python3-dev default-libmysqlclient-dev
!pip install pymysql

Reading package lists... Done
Building dependency tree
Reading state information... Done
default-libmysqlclient-dev is already the newest version (1.0.4).
python3-dev is already the newest version (3.6.7-1~18.04).
The following packages were automatically installed and are no longer required:
  libnvidia-common-460 nsight-compute-2020.2.0
Use 'sudo apt autoremove' to remove them.
0 upgraded, 0 newly installed, 0 to remove and 42 not upgraded.
Requirement already satisfied: pymysql in /usr/local/lib/python3.7/dist-packages (1.0.2)

In [ ]:
import pandas as pd
import pymysql

In [ ]:
from pymysql.converters import convert_bit
host = "project-db-stu.ddns.net"
port = 3307
username = "wish"
password = "1234"
db = 'wish'

conn = pymysql.connect(host=host, port=port, user=username, password=password, db=db)

In [ ]:
sql_state = 'select * from s_real_data'

s_real = pd.read_sql_query(sql_state, conn)

In [ ]:
s_real

,r_seq,r_date,r_temperature,r_precipitation,r_wind,r_humidity,r_radiation,r_total_cloudiness,r_visibility,r_ground_temp,r_aod,r_id
0,1,2022-05-03 17:59:26,22.6,0.0,1.6,70.8,0.0,10.0,2000.0,24.3,1,wish
1,2,2022-05-03 17:59:37,22.4,0.0,1.7,71.3,0.0,10.1,2000.0,24.6,1,wish
2,3,2022-05-03 17:59:47,22.6,0.0,1.6,71.0,0.0,10.0,1999.9,24.5,1,wish
3,4,2022-05-03 17:59:58,22.7,0.0,1.7,69.1,0.0,10.0,2000.0,24.4,1,wish
4,5,2022-05-03 18:00:08,22.6,0.0,1.6,69.4,0.0,10.0,2000.0,24.6,1,wish
5,6,2022-05-03 18:00:19,21.4,0.0,1.5,77.3,0.0,10.0,1999.9,23.7,1,wish
6,7,2022-05-03 18:00:29,21.8,0.0,1.3,78.3,0.0,10.0,2000.1,23.7,1,wish
7,8,2022-05-03 18:00:40,22.1,0.0,1.3,71.6,0.0,10.1,2000.1,23.4,1,wish
8,9,2022-05-03 18:00:50,22.2,0.0,1.3,73.7,0.0,10.0,2000.0,22.8,1,wish
9,10,2022-05-03 18:01:01,21.8,0.0,1.2,79.5,0.0,10.1,2000.0,23.4,1,wish
10,11,2022-05-03 18:01:11,21.7,0.0,1.3,78.5,0.0,9.9,2000.0,23.1,1,wish
11,12,2022-05-03 18:01:22,22.0,0.0,1.5,75.1,0.0,10.1,2000.0,22.9,1,wish
12,13,2022-05-03 18:01:32,21.5,0.0,1.4,78.4,0.0,9.9,1999.9,23.7,1,wish
13,14,2022-05-03 18:01:43,22.0,0.0,1.4,78.2,0.0,10.0,2000.1,23.6,1,wish
14,15,2022-05-03 18:01:53,21.6,0.0,1.4,73.0,0.0,10.1,1999.9,23.5,1,wish
15,16,2022-05-03 18:02:04,21.9,0.0,1.3,72.3,0.0,10.0,2000.0,23.5,1,wish
16,17,2022-05-03 18:02:14,21.4,0.0,1.2,74.0,0.0,10.0,2000.1,23.5,1,wish
17,18,2022-05-03 18:02:25,21.8,0.0,1.4,76.8,0.0,10.0,1999.9,23.2,1,wish
18,19,2022-05-03 18:02:35,21.5,0.0,1.4,75.7,0.0,10.0,2000.0,23.5,1,wish
19,20,2022-05-03 18:02:46,21.8,0.0,1.2,73.3,0.0,10.1,2000.0,23.4,1,wish
20,21,2022-05-03 18:02:56,22.1,0.0,1.2,76.9,0.0,10.0,2000.1,23.3,1,wish
21,22,2022-05-03 18:03:07,21.6,0.0,1.4,75.3,0.0,9.9,2000.0,22.9,1,wish
22,23,2022-05-03 18:03:17,22.0,0.0,1.2,77.3,0.0,10.0,2000.1,22.9,1,wish
23,24,2022-05-03 18:03:28,21.8,0.0,1.5,75.9,0.0,10.1,2000.1,23.8,1,wish
24,25,2022-05-03 18:03:38,22.2,0.0,1.1,78.9,0.0,10.0,1999.9,23.4,1,wish
25,26,2022-05-03 18:03:49,21.7,0.0,1.4,76.7,0.0,10.1,2000.0,22.7,1,wish
26,27,2022-05-03 18:03:59,21.8,0.0,1.3,76.2,0.0,10.0,2000.0,23.4,1,wish
27,28,2022-05-03 18:04:10,21.6,0.0,1.1,74.2,0.0,10.1,1999.9,23.0,1,wish
28,29,2022-05-03 18:04:21,22.0,0.0,1.4,77.6,0.0,9.9,1999.9,23.2,1,wish
29,30,2022-05-03 18:04:31,22.3,0.0,1.4,80.2,0.0,10.0,2000.1,23.6,1,wish
30,31,2022-05-03 18:04:42,22.2,0.0,1.3,75.3,0.0,10.0,2000.0,23.3,1,wish
31,32,2022-05-03 18:04:52,22.1,0.0,1.2,80.7,0.0,10.0,1999.9,23.2,1,wish
32,33,2022-05-03 18:05:03,21.7,0.0,1.4,77.3,0.0,10.0,1999.9,22.9,1,wish
33,34,2022-05-03 18:05:13,21.8,0.0,1.2,75.1,0.0,9.9,1999.9,23.7,1,wish
34,35,2022-05-03 18:05:24,21.8,0.0,1.4,73.6,0.0,10.0,2000.0,22.6,1,wish
35,36,2022-05-03 18:05:34,21.9,0.0,1.4,71.7,0.0,10.1,1999.9,23.2,1,wish
36,37,2022-05-03 18:05:45,21.8,0.0,1.2,71.5,0.0,10.1,1999.9,23.2,1,wish
37,38,2022-05-03 18:05:55,21.6,0.0,1.6,78.4,0.0,9.9,2000.0,22.7,1,wish
38,39,2022-05-03 18:06:06,22.0,0.0,1.5,77.7,0.0,9.9,1999.9,23.4,1,wish
39,40,2022-05-03 18:06:16,22.1,0.0,1.4,78.7,0.0,10.1,2000.1,22.7,1,wish
40,41,2022-05-03 18:06:27,21.8,0.0,1.4,73.6,0.0,10.0,1999.9,23.7,1,wish
41,42,2022-05-03 18:06:37,22.0,0.0,1.4,78.7,0.0,9.9,2000.0,23.2,1,wish
42,43,2022-05-03 18:06:48,22.2,0.0,1.1,76.9,0.0,9.9,2000.0,23.2,1,wish
43,44,2022-05-03 18:06:58,22.3,0.0,1.3,77.2,0.0,9.9,2000.0,23.1,1,wish
44,45,2022-05-03 18:07:09,21.7,0.0,1.2,72.6,0.0,10.1,2000.0,22.8,1,wish
45,46,2022-05-03 18:07:19,22.1,0.0,1.2,79.6,0.0,9.9,2000.1,22.8,1,wish
46,47,2022-05-03 18:07:30,21.9,0.0,1.4,78.9,0.0,10.1,2000.0,23.0,1,wish
47,48,2022-05-03 18:07:40,21.8,0.0,1.1,77.1,0.0,10.1,2000.0,22.7,1,wish
48,49,2022-05-03 18:07:51,22.0,0.0,1.3,75.1,0.0,10.1,2000.0,23.0,1,wish
49,50,2022-05-03 18:08:01,22.3,0.0,1.5,73.1,0.0,10.0,2000.1,23.5,1,wish
50,51,2022-05-03 18:08:12,21.6,0.0,1.2,77.6,0.0,10.1,2000.0,22.9,1,wish
51,52,2022-05-03 18:08:23,21.8,0.0,1.4,74.5,0.0,10.0,2000.0,22.7,1,wish

In [ ]:
sql_state = 'select * from s_member where mem_id="mem_id 0001"'

s_member_0001 = pd.read_sql_query(sql_state, conn)

In [ ]:
s_member_0001.shape

(1, 8)